#box1 {
    height: 632px;
    width: 340px;
    margin-left: 0px;
    margin-top: 15px;
    /* box-shadow: 1px 1px 5px rgba(39, 37, 37, 0.637); */
    /* border: 1px solid black; */
}
.box2 {
    height: 210px;
    width: 338px;
    background-color: #F2F2F2;
}


.para1 {
    position: relative;
    top:5px;
    left:10px;
}

.para2 {
    font-size: 20px;
    margin-left: 40px;
    margin-top:10px;
    color:rgba(12, 11, 11, 0.815);


}
.para3{
    font-size: 20px;
    top: -40px;
    position: relative;
    left:10px;
}
.box3 {
    background-color: #E6E6E6;
    

}
button {
    height: 44px;
    width: 64px;
    /* margin-left: 0px; */
    margin-top: 3px;
    font-size:large;
    cursor: pointer;
    border:none;




}
button:hover {
    background-color:  #8680805d;
}
button:focus{
    outline: none;
}
.bu{
    font-size: 13px;
    height: 44px;
    width: 52px;
    background: none;
    
}
.bu:hover {
    background-color:  #8680805d;
}
.bu:focus{
    outline: none;
}
.bu1{
    background-color: white;
    font-size: large;
}


.bu1:hover {
    background-color:  #8680805d;

}
.bu1:focus{
    outline: none;
}
.bu2{
    font-size: 13px;
    height: 44px;
    width: 52px;
    background: none;
}
.bu3{
    font-size: 13px;
    height: 44px;
    width: 52px;
    background: none;
    
}
.bu3:hover {
    background-color:  #8680805d;
}
.bu3:focus{
    outline: none;
}
#box4{
    height: 88px;
    width: 338px;
    background-color: #F2F2F2;
}
    /* width */
 ::-webkit-scrollbar {
    width: 8px;  
    height: 5px;
 }

    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 0px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    /* background: gray;  */
    border-radius: 0px;
    
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #F2F2F2; 
    }
    /* scrollbar ends */
    /* .list1{ */
        /* background-color:white;
        margin-top: -60px;
       width: 100%;
        margin-left: 210px;
        /* left: 250px; */
        /* position: fixed;
        z-index: 1; */
        
    /* } */
    /* .list1 li{ */
        /* margin-left: -120px; */
        /* left: 0px;
        border-left: none;
        border-right: none;
        height: 60px;
        width: 100%;
        display: flex;
            flex-wrap: none;
            overflow-x: scroll;
            overflow-y: hidden;  */

    /* } */

